# Default ignored files
/shelf/
/.idea/workspace.xml

#Intellij project files
.idea
*.iml

#Output
out
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
